{% extends "shared/base.html" %}
{% block title %}Resumo IPCA{% endblock %}

{% block content %}
    <h2>Resumo IPCA com Filtros</h2>
    <button onclick="exportTableToExcel('summaryTable')">Exportar para Excel</button>
    <table id="summaryTable" class="display" style="width:100%">
        {{ table_html|safe }}
    </table>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/exportTable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatableFilter.js') }}"></script>
{% endblock %}
